<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简洁美观的 HTML 邮件模板</title>
</head>
<body style="font-family: Arial, sans-serif;margin: 100px;padding: 0;">
<div style="max-width: 600px;margin: 0 auto;padding: 20px;">
    <h3 style="color: #333333;text-align: center;">{}</h3>
    <table>
        <tbody>
        <tr>
            <td align="center" valign="top" class="em_hide em_aside17"
                style="font-size: 0; line-height: 0; border-collapse: collapse;">
                <img src="http://cdn.mcauto-images-production.sendgrid.net/b6d0217aa232514a/04898e5e-fa43-4f6d-89a5-4e507ec31407/1054x14.png"
                     width="600" alt=""
                     style="display: block; max-width: 600px; color: rgb(255, 255, 255); border: 0; outline: none;"
                     border="0"></td>
        </tr>
        <tr>
            <td height="33"
                style="height: 33px; font-size: 1px; line-height: 1px; border-collapse: collapse;">
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <div style="max-width: 600px;margin: 0 auto;padding: 20px;background-color: #c4e1db;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <table border="0" cellspacing="0"
               cellpadding="0" align="center"
               style="border-collapse: collapse;">
            <tbody>
            <tr>
                <td align="center" valign="top" class="em_full_img"
                    style="border-collapse: collapse;"><a
                        clicktracking="off"
                        href="https://pokemon-go.onelink.me/nBRb/05kwzqej"
                        style="border-collapse: collapse;"><img
                        src="http://cdn.mcauto-images-production.sendgrid.net/b6d0217aa232514a/9a93c9ef-faa7-428a-bcc4-5ec854e551a2/960x521.png"
                        width="480" alt=""
                        style="display: block; max-width: 480px; color: rgb(0, 0, 0); border: 0px; outline: none;"
                        border="0"></a></td>
            </tr>
            </tbody>
        </table>
        <p style="color: #666666;line-height: 1.6;margin-bottom: 20px;">
            首次监控价格：{} 元
        </p>
        <p style="color: #666666;line-height: 1.6;margin-bottom: 20px;">
            当前监控价格：{} 元
        </p>
        <p style="color: #666666;line-height: 1.6;margin-bottom: 20px;">
            已降价：{} 元
        </p>
    </div>
    <p style="text-align: center;color: #666666;line-height: 1.6;margin-bottom: 20px;">
        <a href="http://kevinkda.cn/" target="_blank" style="display: inline-block;padding: 10px 20px;background-color:
        #4CAF50;color: #ffffff;text-decoration: none;border-radius: 10px;">了解我们</a>
    </p>
    <table>
        <tbody>
        <tr>
            <td align="center" valign="top" class="em_hide em_aside17"
                style="font-size: 0px; line-height: 0px; border-collapse: collapse;">
                <img src="http://cdn.mcauto-images-production.sendgrid.net/b6d0217aa232514a/04898e5e-fa43-4f6d-89a5-4e507ec31407/1054x14.png"
                     width="600" alt=""
                     style="display: block; max-width: 600px; color: rgb(255, 255, 255); border: 0px; outline: none;"
                     border="0"></td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0"
           align="center" style="border-collapse: collapse;">
        <thead></thead>
        <tbody>
        <tr>
            <td align="center" valign="top"
                style="border-collapse: collapse;">
                <table border="0" cellspacing="0"
                       cellpadding="0" class="em_wrapper"
                       style="border-collapse: collapse;">
                    <tbody>
                    <tr>
                        <td align="center" valign="top"
                            bgcolor="#f5f5f5"
                            style="border-radius: 30px; padding: 13px 68px; border-collapse: collapse;">
                            <table border="0"
                                   cellspacing="0"
                                   cellpadding="0"
                                   style="border-collapse: collapse;">
                                <tbody>
                                <tr>
                                    <td align="center"
                                        valign="top"
                                        style="border-collapse: collapse;">
                                        <a href="https://www.instagram.com/alan.hyq/"
                                           target="_blank"
                                           style="text-decoration: none; border-collapse: collapse;"><img
                                                src="http://cdn.mcauto-images-production.sendgrid.net/b6d0217aa232514a/5e5979ee-ab20-4d7c-972f-5e5277aa0aff/50x50.png"
                                                width="25"
                                                alt="insta"
                                                border="0"
                                                style="display: block; max-width: 25px; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; color: rgb(0, 0, 0); border: 0px; outline: none;"></a>
                                    </td>
                                    <td width="52"
                                        style="width: 52px; border-collapse: collapse;">
                                        &nbsp;
                                    </td>
                                    <td align="center"
                                        valign="top"
                                        style="border-collapse: collapse;">
                                        <a href="https://www.facebook.com/profile.php?id=61551325853073&mibextid=LQQJ4d"
                                           target="_blank"
                                           style="text-decoration: none; border-collapse: collapse;"><img
                                                src="http://cdn.mcauto-images-production.sendgrid.net/b6d0217aa232514a/6e738d80-8c66-4ee1-b3ae-a346a822d839/49x49.png"
                                                width="24"
                                                alt="fb"
                                                border="0"
                                                style="display: block; max-width: 24px; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; color: rgb(0, 0, 0); border: 0px; outline: none;"></a>
                                    </td>
                                    <td width="53"
                                        style="width: 53px; border-collapse: collapse;">
                                        &nbsp;
                                    </td>
                                    <td align="center"
                                        valign="middle"
                                        style="border-collapse: collapse;">
                                        <a href="https://www.youtube.com/@user-td3sz2gs4l"
                                           target="_blank"
                                           style="text-decoration: none; border-collapse: collapse;"><img
                                                src="http://cdn.mcauto-images-production.sendgrid.net/b6d0217aa232514a/7bc046d6-3e2e-4ad4-afb3-163f8a1b5ce0/56x41.png"
                                                width="28"
                                                alt="yt"
                                                border="0"
                                                style="display: block; max-width: 28px; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; color: rgb(0, 0, 0); border: 0px; outline: none;"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="em_defaultlink" align="center"
                valign="top"
                style="font-family: Arial, sans-serif; font-weight: 400; color: rgb(102, 102, 102); font-size: 12px; line-height: 18px; border-collapse: collapse;">
                <br>
                ©2024 cmrhyq@gmail.com.
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
